<script language="" type="text/javascript">
<!--
jQuery(document).ready(function() {
    var currentIndex=0;
    var gallery = [
    <!-- BEGIN:BLOCK -->
    {_gallery_bild}     
    <!-- END:BLOCK -->
    ];
    
    $('.fancybox-image').attr('src',gallery[currentIndex].href);
    $('.fancybox-text').text(gallery[currentIndex].title);
    
    $('.fancybox-prev').click(function(){
        currentIndex--;
        if (currentIndex<0){
            var newIndex=gallery.length;
            newIndex--;
            currentIndex=newIndex;
        }
        $('.fancybox-image').attr('src',gallery[currentIndex].href);
        $('.fancybox-text').text(gallery[currentIndex].title);
    });
    
    $('.fancybox-next').click(function(){
        currentIndex++;
        if (currentIndex>=gallery.length){
            currentIndex=0;
        }
        $('.fancybox-image').attr('src',gallery[currentIndex].href);
        $('.fancybox-text').text(gallery[currentIndex].title);
    });
});
//-->
</script>
<div class="fancybox-outer">
    <div class="fancybox-inner">
    <img class="fancybox-image" src="{_gallery_thumb}" alt="" id="{gallery}">
    </div>
    <a title="Previous" class="fancybox-nav fancybox-prev" href="javascript:;"><span></span></a>
    <a title="Next" class="fancybox-nav fancybox-next" href="javascript:;"><span></span></a>
</div>
<p class="fancybox-text top5">{_gallery_comment}</p>